<h2 class="titulo">Nuevo Expediente</h2>

<div class="row">
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Numero:</label>
      <input type="text" #txtNumero class="form-control">
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Año:</label>
      <input type="number" #txtNumero class="form-control">
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Tipo de Juicio:</label>
      <input type="text" #txtNumero class="form-control">
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Clave busqueda:</label>
      <input type="text" #txtNumero class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Materia Civil:</label>
      <select class="form-control" (change)="saludar($event)">
        <option *ngFor="let materiaCivil of materiaCivilArre">{{materiaCivil}}</option>
        <!--<option value="">(Selecciona)</option>-->
        <!--<option value="CIVIL" >CIVIL</option>-->
        <!--<option  value="PENAL">PENAL</option>-->
        <!--<option value="FAMILIAR">FAMILIAR</option>-->
      </select>
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Partido Judicial:</label>
      <select class="form-control">
        <option>(Selecciona)</option>
        <option>Tijuana</option>
        <option>Mexicali</option>
        <option>Rosarito</option>
      </select>
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Juzgado:</label>
      <select class="form-control">
        <option>(Selecciona)</option>
        <option>PRIMERO</option>
        <option>SEGUNDO</option>
        <option>TERCERO</option>
      </select>
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="form-group">
      <label class="control-label">Secretaria:</label>
      <select class="form-control">
        <option>(Selecciona)</option>
        <option>PRIMERA</option>
        <option>SEGUNDA</option>
        <option>TERCERA</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-3 pull-right">
    <button class="btn btn-primary btn-block">
      Agregar
    </button>
  </div>
</div>

<!--<select class="form-control">-->
  <!--<option>Nombre1</option>-->
  <!--<option>Nombre2</option>-->
  <!--<option>Nombre3</option>-->
<!--</select>-->
