<div class="row">
  <div class="col-xs-12">
    <h1 style="text-align: center;">Agregar Partes</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="form-group">
      <label class="control-label">Nombre:</label>
      <input type="text" class="form-control" #txtNombre>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="form-group">
      <label class="control-label">Apellido (si aplica):</label>
      <input type="text" class="form-control" #txtApellido>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary pull-right" (click)="agregarParte(txtNombre, txtApellido)">Agregar</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-4 col-lg-offset-4">
    <h3>{{mensaje.msg}}</h3>
  </div>
</div>
