<!--<div class="navbar navbar-inverse">-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="titulo">
        Juridico Soto
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div class="form-log">
        <div class="form-group" style="margin: 5%">
          <label class="control-label" for="txtUsuario">Usuario</label>
          <input type="text" placeholder="Usuario" class="form-control" id="txtUsuario">
          <label class="control-label" for="txtContrasenia">Contraseña</label>
          <input type="password" placeholder="Contraseña" class="form-control" id="txtContrasenia">
          <br>
          <button class="btn btn-block">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
